<div class="container">
  <div class="row">
    <app-list (sendRequestToFather)="sendPostId($event)" (sendClickInfoToFather)="sendClickInfo($event)" class="col-4"></app-list>
    <app-details [id]="id" [clickInfo]="clickInfo" class="col-6"></app-details>
  </div>
</div>
