<ul class="list-group">
  <button class="btn btn-primary" (click)="getAllPost(true)">INFO</button>
  <input type="text" [(ngModel)]="filter" (ngModelChange)="filterPost()">
    <li class="list-group-item" *ngFor="let post of posts; let i=index" (click)="sendPostId(post.id)"><a>{{post.id}} - {{post.title}}</a></li>
  </ul>
