<div *ngIf="clickInfo" class="card text-white bg-secondary mb-3" style="max-width: 18rem;position: fixed;">
    <div class="card-header">Description</div>
    <div class="card-body">
      <h5 class="card-title">{{post.id}}-{{post.title}}</h5>
      <p class="card-text">{{post.body}}</p>
    </div>
  </div>
